<div class="math_design">
<h1>This is our Minus Function</h1>
<p>Please select the correct answer</p>
<p><%= @first %> - <%= @second %> =</p>
<br>
<%= button_to @result, patikrinimas_correct_path, method: :post %>
<br>
<%= button_to @resultFake1, patikrinimas_incorrect_path, method: :post %>
<br>
<%= button_to @resultFake2, patikrinimas_incorrect_path, method: :post %>
<br>
<%= button_to @resultFake3, patikrinimas_incorrect_path, method: :post %>
</div>